.navbar-default {
  font-family: 'Spectral SC', serif;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
}

#showcase {
	margin-top: 70px;
}

#showcase img {
	width: 90%;
}

#showcase .showcase-right {
	margin-top: 250px;
}

#testimonial {
	background: lightgray;
	padding: 18px 5px 18px 5px;
	text-align: center;
	margin-top: 20px;
}

#testimonial p {
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
}

#testimonial p.customer {
	color: rgb(12, 11, 11);
}

#info1 .info-right {
	margin-top: 170px;
}

#info1 .info-left img {
	margin-top: 90px;
	margin-bottom: 155px;
}

.card-deck {
	margin-top: 90px;
}
 #info2 {
	margin: 50px 0 60px 0;
 }

 #contact {
	background-size: cover;
	margin: 70px 0 55px 0;
	padding: 70px;
	color: #fff;
	border-top: #333 7px solid;
	border-bottom: #333 7px solid;
 }

 .contact-picture {
	 margin-bottom: 25px;
	 margin-left: 200px;
 }

 footer {
	 padding: 20px;
 }